[submodule "ros2_messages/adore_ros2_msgs"]
	path = adore_ros2_msgs
	url = git@github.com:eclipse-adore/adore_ros2_msgs.git
[submodule "nodes/adore_simulated_vehicle"]
	path = adore_ros2_nodes/simulated_vehicle
	url = git@github.com:eclipse-adore/adore_simulated_vehicle.git
[submodule "mission_control"]
	path = adore_ros2_nodes/mission_control
	url = git@github.com:eclipse-adore/adore_mission_control.git
[submodule "nodes/adore_visualizer"]
	path = adore_ros2_nodes/visualizer
	url = git@github.com:eclipse-adore/adore_visualizer.git
[submodule "nodes/adore_decision_maker"]
	path = adore_ros2_nodes/decision_maker
	url = git@github.com:eclipse-adore/adore_decision_maker.git
[submodule "nodes/adore_trajectory_tracker"]
	path = adore_ros2_nodes/trajectory_tracker
	url = git@github.com:eclipse-adore/adore_trajectory_tracker.git
[submodule "adore_scenarios/adore_simulation_scenarios"]
	path = adore_scenarios/simulation_scenarios
	url = git@github.com:eclipse-adore/adore_simulation_scenarios.git
[submodule "vendor/libOpenDRIVE"]
	path = vendor/libOpenDRIVE
	url = git@github.com:markomiz/libOpenDRIVE.git
[submodule "interfaces/sumo_bridge"]
	path = adore_interfaces/sumo_bridge
	url = git@github.com:eclipse-adore/sumo_if_ros.git
[submodule "interfaces/carla_bridge"]
	path = adore_interfaces/carla_bridge
	url = git@github.com:eclipse-adore/adore_if_carla.git
[submodule "ros2_messages/ros-carla-msgs"]
	path = vendor/ros-carla-msgs
	url = git@github.com:carla-simulator/ros-carla-msgs.git
[submodule "tools/ros2_observer"]
	path = tools/ros2_observer
	url = git@github.com:DLR-TS/ros2_observer.git
[submodule "libraries/adore_planning"]
	path = adore_libraries/adore_planning
	url = git@github.com:eclipse-adore/adore_planning.git
[submodule "libraries/adore_controllers"]
	path = adore_libraries/adore_controllers
	url = git@github.com:eclipse-adore/adore_controllers.git
[submodule "libraries/adore_map"]
	path = adore_libraries/adore_map
	url = git@github.com:eclipse-adore/adore_map.git
[submodule "libraries/adore_math"]
	path = adore_libraries/adore_math
	url = git@github.com:eclipse-adore/adore_math.git
[submodule "libraries/adore_dynamics"]
	path = adore_libraries/adore_dynamics
	url = git@github.com:eclipse-adore/adore_dynamics.git
[submodule "conversions/adore_dynamics_conversions"]
	path = adore_ros2_conversions/adore_dynamics_conversions
	url = git@github.com:eclipse-adore/adore_dynamics_conversions.git
[submodule "conversions/adore_map_conversions"]
	path = adore_ros2_conversions/adore_map_conversions
	url = git@github.com:eclipse-adore/adore_map_conversions.git
[submodule "conversions/adore_math_conversions"]
	path = adore_ros2_conversions/adore_math_conversions
	url = git@github.com:eclipse-adore/adore_math_conversions.git
[submodule "nodes/adore_decision_maker_infrastructure"]
	path = adore_ros2_nodes/decision_maker_infrastructure
	url = git@github.com:eclipse-adore/adore_decision_maker_infrastructure.git
[submodule "vendor/osqp_eigen"]
	path = vendor/osqp_eigen
	url = https://github.com/robotology/osqp-eigen.git
[submodule "vendor/multi_agent_solver"]
	path = vendor/multi_agent_solver
	url = git@github.com:markomiz/multi_agent_solver.git
[submodule "vendor/osqp"]
	path = vendor/osqp
	url = https://github.com/osqp/osqp.git
[submodule "tools/adore_model_checker"]
	path = tools/adore_model_checker
	url = git@github.com:DLR-TS/adore_model_checker.git
[submodule "vendor/ros2_weather_report"]
	path = vendor/ros2_weather_report
	url = git@github.com:markomiz/ros2_weather_report.git
